@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #232526;
  background: linear-gradient(to right, #414345, #232526);
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  background: rgba(35, 37, 38, 0.5)
}

.header-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #24c6dc;
}

label {
  color: #833ab4;
  font-size: 20px;
  font-weight: 400;
}

form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  width: 300px;
  height: 42px;
  padding: 20px 16px;
  font-size: 18px;
  border-radius: 16px;
  background-color: #16222a;
  color: white;
  border: none;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #3a6073;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3a6073;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3a6073;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3a6073;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3a6073;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #3a6073;
}

.button {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  border: none;
  width: 160px;
  height: 36px;
  color: white;
  border-radius: 10px;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 3s;
}

.button:hover {
  background: #fcb045;
  background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
}

.displayContainer {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display {
  font-size: 20px;
  border-radius: 16px 0 0 16px;
}

.buttonCopy {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  border: none;
  height: 42px;
  color: white;
  border-radius: 0 16px 16px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 3s;
  padding: 0 12px;
  font-size: 12px;
}

.buttonCopy:hover {
  background: #fcb045;
  background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
